<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team.comearnapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />

        <!-- 两个Service的声明已经被删去 -->

        <activity
            android:name=".test.MockActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".test.SecondMockActivity"
            android:launchMode="singleTask" />
        <activity android:name=".test.ThirdMockActivity" />
        <activity android:name=".activity.PersonalInfoActivity"></activity>
        <activity android:name=".activity.WhiteListActivity">

        </activity>
        <activity android:name=".activity.ClassSettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>