<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team.comearnapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.ClassDetailActivity" />
        <!-- <activity android:name=".activity.SelectActivity" /> -->
        <activity
            android:name=".activity.SelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".activity.SearchActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="29cbd600bb8183011201895a931db91e93f2d614" />

        <activity android:name=".activity.CheckActivity" />
        <activity android:name=".activity.SearchResultActivity" />
        <activity android:name=".activity.MoreClassActivity" />
        <activity android:name=".activity.CreateClassActivity"></activity>
        <activity android:name=".activity.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.RongYunTestActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.ConversationActivity"></activity>
        <!--配置群组对应的融云活动-->
        <activity
            android:name=".activity.groupActivity.GroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.example.team.comearnapp"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
    </application>

</manifest>